<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Mateusz Nolko</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    </head>
    <body>
        <div class="container">
            <h3 class="text-center">Zadanie Rekrutacyjne - Mateusz Nolko</h3>
             <div class="text-center">
                <form action="/" method="post">
                    {% csrf_token %}
                    <br>
                    <div class="form-group">
                        <label for="InputEmail">Email address:</label>
                        <input type="email" class="form-control" id="InputEmail" name="email" placeholder="email">
                    </div>
                    <div class="form-group">
                        <label for="InputPassword">Password:</label>
                        <input type="password" class="form-control" id="InputPassword" name="password" placeholder="password">
                        <br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>

                <div>
                    {% for message in messages %}
                        <h3 class="text-center bg-danger">{{message}}</h3>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>